@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  #todo {
    padding: 1.5rem;
  }

  .task {
    font-size: 0.95rem;
  }

  .button {
    font-size: 0.95rem;
  }

  .listLine {
    padding: 1.2rem;
  }

  .checkImg {
    width: 2.5rem;
  }
}
