:root{
  --primary-color: ;
  --button-color: ;
  --text-color: ;
  --font-primary:"Rubik", sans-serif;
  --font-secondary:"Inter", sans-serif;;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: var(--font-primary)
}

#checkImg{
  width: 50px;
}